<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Wszystko w jednym</title>
</head>
<body>
<main role="main" layout:fragment="container" class="container">
    <form method="post" th:action="@{/operation/buy}" th:object="${operationDto}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Dane pojazdu</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Id pojazdu</th>
                <td><input type="text" th:field="*{vehicleId}" readonly="readonly"/></td>
                <th scope="row">VIN</th>
                <td><input type="text" th:field="*{vehicleVin}" readonly="readonly"/></td>
            </tr>
            <tr>
                <th scope="row">Marka</th>
                <td><input type="text" th:field="*{vehicleBrand}" readonly="readonly"/></td>
                <th scope="row">Model</th>
                <td><input type="text" th:field="*{vehicleModel}" readonly="readonly"/></td>
            </tr>
            <tr>
                <th scope="row">Pojemność silnika</th>
                <td><input type="text" th:field="*{vehicleCapacity}" readonly="readonly"/></td>
                <th scope="row">Moc</th>
                <td><input type="text" th:field="*{vehicleHorsePower}" readonly="readonly"/></td>
            </tr>
            <tr>
                <th scope="row">Paliwo</th>
                <td><input type="text" th:field="*{vehicleFuelType}" readonly="readonly"/></td>
                <th scope="row">Przebieg</th>
                <td><input type="text" th:field="*{vehicleMileage}" readonly="readonly"/></td>
            </tr>
            <tr>
                <th scope="row">Skrzynia biegów</th>
                <td><input type="text" th:field="*{vehicleGearType}" readonly="readonly"/></td>
                <th scope="row">Rok produkcji</th>
                <td><input type="text" th:field="*{vehicleProductionDate}" readonly="readonly"/></td>
            </tr>
            <tr>
                <th scope="row">Opis</th>
                <td><textarea type="text" th:field="*{vehicleDescription}" readonly="readonly" cols="30"></textarea></td>
                <th scope="row"></th>
                <td></td>
            </tr>
            </tbody>
        </table>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Dane klienta</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Wybierz klienta</th>
                <td>
                    <div th:if="${customerId != null }">
                        <select name="customer.id" th:field="*{customerId}">
                            <option th:each="choice : ${customersList}"
                                    th:value="${choice.id}"
                                    th:attr="choicecustomerId=${choice.id}, institutioninstitutionId=*{customerId}, showselected=(${choice.id} == *{customerId})"
                                    th:selected="(${choice.id} == *{customerId})"
                                    th:readonly="(${choice.id} == *{customerId})"
                                    th:text="${choice.firstName + ' ' + choice.Name}"></option>
                        </select>
                    </div>
                    <div th:if="${customerId == null }">
                        <div th:if="${customersList != null and not #lists.isEmpty(customersList)}">
                            <select name="customer.id" th:field="*{customerId}">
                                <option th:each="dropDownItem : ${customersList}"
                                        th:value="${dropDownItem.id}"
                                        th:text="${dropDownItem.firstName + ' ' + dropDownItem.Name}" />
                            </select>
                        </div>
                        <div th:if="${customersList == null or #lists.isEmpty(customersList)}">
                            <div>"No Customers were found, please add some first"</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Parametry zakupu</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Id operacji</th>
                <td><input type="text" th:field="*{operationId}" readonly="readonly"/></td>
                <th scope="row">Typ</th>
                <td><input type="text" th:field="*{operationType}" readonly="readonly"/></td>
            </tr>
            <tr>
                <th scope="row">Data</th>
                <td><input type="text" th:field="*{operationData}"/></td>
                <th scope="row">Wartość transakcji</th>
                <td><input type="text" th:field="*{operationValue}" />
                    <span th:if="${#fields.hasErrors('operationValue')}" th:errors="*{operationValue}" class="text-danger help-block" />
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="OK"/>
    </form>
</main>
</body>
</html>